@page
@model ContosoCrafts.WebSite.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create/Update Product";
}

<div class="container-fluid">
    <h1>Create</h1>

    <label for="title">Title</label>
    <input id="title"
           class="form-control"
           type="text"
           placeholder="Title" />

    <label for="description">Description</label>
    <input id="description"
           class="form-control"
           type="text"
           placeholder="Description" />

    <label for="quantity">Quantity</label>
    <input id="quantity"
           class="form-control"
           type="text"
           placeholder="Quantity" />

    <label for="price">Price</label>
    <input id="price"
           class="form-control"
           type="text"
           placeholder="Price" />

    <label for="comments">Comments</label>
    <input id="comments"
           class="form-control"
           type="text"
           placeholder="Comments" />

    <label></label>
    <button onclick=""
            class="form-control btn btn-primary">
        Save
    </button>

</div>
