@page
@using ContosoCrafts.WebSite.Components
@model CreateModel
@{
    ViewData["Title"] = "Create/Update Product";
}

<div class="container-fluid">
    <form method="post">
        <h1>Create</h1>

            <label asp-for="product.Title">Title</label>
            <input asp-for="product.Title"
               class="form-control"
               type="text"
               placeholder="Title" />

        <label asp-for="product.Maker">Maker</label>
        <input asp-for="product.Maker"
               class="form-control"
               type="text"
               placeholder="Maker" />

        <label asp-for="product.Description">Description</label>
        <input asp-for="product.Description"
               class="form-control"
               type="text"
               placeholder="Description" />

        <label asp-for="product.Quantity">Quantity</label>
        <input asp-for="product.Quantity"
               class="form-control"
               type="text"
               placeholder="Quantity" />

        <label asp-for="product.Price">Price</label>
        <input asp-for="product.Price"
               class="form-control"
               type="text"
               placeholder="Price" />

        <label></label>
        <button type="submit"
                class="btn btn-primary">
            Save
        </button>
    </form>
</div>