@page
@model ContosoCrafts.WebSite.Pages.ContactUsModel
@{
    ViewData["Title"] = "Customer Support";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <body>

    </body>
</head>
</html>