@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="top-buffer"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-transparent">
                <div class="card-body">
                        <h5 class="text-center">Reserve for personal use</h5>
                        <a class="nav-link text-center dark-teal-text" asp-area="" asp-page="/ProductDisplay">
                        <h4>Personal Renting</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-transparent">
                <div class="card-body">
                        <h5 class="text-center">Reserve for business use</h5>
                        <a class="nav-link text-center dark-teal-text" asp-area="" asp-page="/ProductDisplay">
                        <h4>Enterprise Renting</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
