@page
@model ContosoCrafts.WebSite.Pages.LocationModel  
@{
    ViewData["Title"] = "Location";
}
<h1>@ViewData["Title"]</h1>

<div class="back-results-spacing" style="display: none;">
    <a href="#" onclick="hideArticle()">Back to results</a>
</div>

<div id="results">
    <span id="">
        <div class="result-box-item article-details" id="" style="margin-top: 25px; display: block;" tabindex="-1">
            <div class="modal-header">
                <h4 class="modal-title">Contact Us</h4>
            </div>
            <div class="modal-body">
                <font color="#333333" face="helvetica, sans-serif">
                    <span style="font-size: 14px;"><b>Book Leisure/Business Reservations</b></span>
                </font>
                <br><span style="color: #333333;">
                    <span style="font-family: helvetica,sans-serif;">
                        <span style="font-size: 10.5pt;">
                            <span style="">1-000-000-0000 &nbsp;(US, Puerto Rico and&nbsp;Canada) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <br><span style="">1-000-000-0000&nbsp; (International)</span>
                        </span>
                    </span>
                </span><br><br><a href="" target="_blank">View, Modify, Cancel Leisure/ Business Reservation</a>
                <br><br><font color="#333333" face="helvetica, sans-serif">
                    <span style="font-size: 14px;"><b>Replacement Reservation Vehicle due to an accident or theft or your personal vehicle</b></span>
                </font>
                <br><span style="color: #333333;"><span style="font-family: helvetica,sans-serif;"><span style="font-size: 10.5pt;"><span style="">1-000-000-0000 (US)</span></span></span></span>
                <br><br><span style="font-size: 14px;">
                    <span style="font-family: Arial;">
                        <span style="color: black;">
                            <span style="font-weight: bold;">
                                <a href="" target="_blank">Modify/Extend your existing rental</a>
                            </span>
                        </span>
                    </span>
                </span>
                <br><br><a href="" target="_blank">
                    <span style="color: #2980b9;">
                        <b><span style="font-family: helvetica,sans-serif;"><span style="font-size: 10.5pt;">A Past Rental-Billing Questions or Comments/Feedback</span></span></b>
                    </span>
                </a>
                <br><br><a href="" target="_blank">
                    <span style="color: #2980b9;">
                        <span style="font-family: helvetica,sans-serif;">
                            <span style="font-size: 10.5pt;"><b>Emergency Roadside Assistance</b></span>
                        </span>
                    </span>
                </a>
                <br><br>
                <span style="color: #333333;">
                    <span style="font-family: helvetica,sans-serif;">
                        <span style="font-size: 10.5pt;">
                            <b><span style="">Hearing Impaired (TDD)&nbsp;</span></b>
                            <br><span style="">1-000-000-0000</span>
                        </span>
                    </span>
                </span><br><br><span style="color: #333333;">
                    <span style="font-family: helvetica,sans-serif;">
                        <span style="font-size: 10.5pt;">
                            <b>Contact Us on Social Media</b>
                            <br><a href="https://www.facebook.com/login/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/facebook-icons/social-facebook-icon-small-flat-iconset-1.png"></a>&nbsp;
                            <a href="https://twitter.com/login" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png"></a>&nbsp;
                            <a href="https://www.instagram.com/accounts/login/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/instagram-icon-png/instagram-android-app-icon-2.png"></a>&nbsp;
                            <a href="https://www.youtube.com/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/youtube-logo-blue-pictures-png-28.png"></a>&nbsp;
                            <a href="https://www.whatsapp.com/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/whatsapp-logo-transparent-png-21.png"></a>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </span>
</div>