@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dancing Script' cursive;
    font-family: 'Poppins', sans-serif;
}
.section {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
}
.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.contant-section {
    float: left;
    width: 55%;
}
.image-section {
    float: right;
    width: 40%;
}
.image-section img {
    width: 100%;
    height: auto;
    display:block;
    margin:auto;
}
.contant-section .title {
    text-transform: uppercase;
    font-size: 28px;
}